<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="edgeai_robot">

  <!-- ================================================== -->
  <!-- Robot parameters                                   -->
  <!-- x: forward, y: left, z: up                         -->
  <!-- ================================================== -->

  <!-- Base -->
  <xacro:property name="base_length" value="0.375"/>
  <xacro:property name="base_width"  value="0.265"/>
  <xacro:property name="base_height" value="0.07"/>
  <xacro:property name="base_mass"   value="5.0"/>

  <!-- Wheels -->
  <xacro:property name="wheel_radius"     value="0.049"/>
  <xacro:property name="wheel_width"      value="0.020"/>
  <xacro:property name="wheel_separation" value="0.30"/>
  <xacro:property name="wheel_x"          value="0.0875"/>
  <xacro:property name="wheel_mass"       value="0.20"/>

    <!-- Casters: provisional dimensions -->
  <xacro:property name="caster_radius"     value="0.032"/>
  <xacro:property name="caster_x"          value="-0.13"/>
  <xacro:property name="caster_separation" value="0.22"/>
  <xacro:property name="caster_mass"       value="0.05"/>


  <!-- LiDAR: simplified RPLIDAR A1 -->
  <xacro:property name="lidar_radius" value="0.038"/>
  <xacro:property name="lidar_height" value="0.040"/>
  <xacro:property name="lidar_mass"   value="0.20"/>

  <!-- LiDAR mounting position relative to base_link -->
  <xacro:property name="lidar_x" value="0.10"/>
  <xacro:property name="lidar_y" value="0.08"/>
  <xacro:property name="lidar_z" value="0.106"/>

  <!-- ================================================== -->
<!-- Intel RealSense D435i                              -->
<!-- Simplified geometric model                         -->
<!-- ================================================== -->

<xacro:property name="camera_length" value="0.090"/>
<xacro:property name="camera_depth"  value="0.030"/>
<xacro:property name="camera_height" value="0.025"/>
<xacro:property name="camera_mass"   value="0.10"/>

<!-- Camera mounting position relative to base_link -->
<xacro:property name="camera_x" value="0.175"/>
<xacro:property name="camera_y" value="0.0"/>
<xacro:property name="camera_z" value="0.061"/>

  <!-- ================================================== -->
  <!-- Base footprint                                     -->
  <!-- ================================================== -->

  <link name="base_footprint"/>

  <joint name="base_footprint_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>

    <!-- Put base_link at wheel-center height -->
    <origin xyz="0 0 ${wheel_radius}" rpy="0 0 0"/>
  </joint>


  <!-- ================================================== -->
  <!-- Base link                                          -->
  <!-- ================================================== -->

  <link name="base_link">

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${base_length} ${base_width} ${base_height}"/>
      </geometry>

      <material name="base_gray">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>

  <!-- LiDAR mounting support -->
  <visual name="lidar_mount_visual">

    <origin
      xyz="${lidar_x} ${lidar_y} 0.0605"
      rpy="0 0 0"/>

    <geometry>
      <cylinder
        radius="0.025"
        length="0.051"/>
    </geometry>

    <material name="lidar_mount_gray">
      <color rgba="0.3 0.3 0.3 1"/>
    </material>

  </visual>


  <!-- Camera mounting support -->
<visual name="camera_mount_visual">

  <origin
    xyz="${camera_x} ${camera_y} 0.043"
    rpy="0 0 0"/>

  <geometry>
    <box size="0.025 0.070 0.025"/>
  </geometry>

  <material name="camera_mount_gray">
    <color rgba="0.3 0.3 0.3 1"/>
  </material>

  </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${base_length} ${base_width} ${base_height}"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="${base_mass}"/>

      <inertia
        ixx="0.0323"
        ixy="0"
        ixz="0"
        iyy="0.0582"
        iyz="0"
        izz="0.0707"/>
    </inertial>

  </link>


  <!-- ================================================== -->
  <!-- Left wheel                                         -->
  <!-- ================================================== -->

  <link name="left_wheel_link">

    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="${wheel_radius}"
                  length="${wheel_width}"/>
      </geometry>

      <material name="wheel_black">
        <color rgba="0.1 0.1 0.1 1"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="${wheel_radius}"
                  length="${wheel_width}"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="${wheel_mass}"/>
      <inertia
        ixx="0.00013"
        ixy="0"
        ixz="0"
        iyy="0.00024"
        iyz="0"
        izz="0.00013"/>
    </inertial>

  </link>

  <joint name="left_wheel_joint" type="continuous">

    <parent link="base_link"/>
    <child link="left_wheel_link"/>

  <origin
    xyz="${wheel_x} ${wheel_separation/2} 0"
    rpy="0 0 0"/>

    <axis xyz="0 1 0"/>

  </joint>


  <!-- ================================================== -->
  <!-- Right wheel                                        -->
  <!-- ================================================== -->

  <link name="right_wheel_link">

    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="${wheel_radius}"
                  length="${wheel_width}"/>
      </geometry>

      <material name="wheel_black"/>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="${wheel_radius}"
                  length="${wheel_width}"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="${wheel_mass}"/>
      <inertia
        ixx="0.00013"
        ixy="0"
        ixz="0"
        iyy="0.00024"
        iyz="0"
        izz="0.00013"/>
    </inertial>

  </link>

  <joint name="right_wheel_joint" type="continuous">

    <parent link="base_link"/>
    <child link="right_wheel_link"/>

  <origin
    xyz="${wheel_x} ${-wheel_separation/2} 0"
    rpy="0 0 0"/>

    <axis xyz="0 1 0"/>

  </joint>

    <!-- ================================================== -->
  <!-- Left rear caster                                   -->
  <!-- Simplified as a sphere for stable simulation       -->
  <!-- ================================================== -->

  <link name="left_caster_link">

    <visual>
      <geometry>
        <sphere radius="${caster_radius}"/>
      </geometry>

      <material name="caster_gray">
        <color rgba="0.3 0.3 0.3 1"/>
      </material>
    </visual>

    <!--
    <collision>
      <geometry>
        <sphere radius="${caster_radius}"/>
      </geometry>
    </collision>
    -->

    <inertial>
      <mass value="${caster_mass}"/>
      <inertia
        ixx="0.0000205"
        ixy="0"
        ixz="0"
        iyy="0.0000205"
        iyz="0"
        izz="0.0000205"/>
    </inertial>

  </link>

  <joint name="left_caster_joint" type="fixed">

    <parent link="base_link"/>
    <child link="left_caster_link"/>

    <origin
      xyz="${caster_x} ${caster_separation/2} ${caster_radius-wheel_radius}"
      rpy="0 0 0"/>

  </joint>

    <!-- ================================================== -->
  <!-- Right rear caster                                  -->
  <!-- ================================================== -->

  <link name="right_caster_link">

    <visual>
      <geometry>
        <sphere radius="${caster_radius}"/>
      </geometry>

      <material name="caster_gray"/>
    </visual>


    <!--
    <collision>
      <geometry>
        <sphere radius="${caster_radius}"/>
      </geometry>
    </collision>
    -->

    <inertial>
      <mass value="${caster_mass}"/>
      <inertia
        ixx="0.0000205"
        ixy="0"
        ixz="0"
        iyy="0.0000205"
        iyz="0"
        izz="0.0000205"/>
    </inertial>

  </link>

  <joint name="right_caster_joint" type="fixed">

    <parent link="base_link"/>
    <child link="right_caster_link"/>

    <origin
      xyz="${caster_x} ${-caster_separation/2} ${caster_radius-wheel_radius}"
      rpy="0 0 0"/>

  </joint>


  <!-- ================================================== -->
  <!-- RPLIDAR A1                                         -->
  <!-- Simplified cylindrical model                       -->
  <!-- ================================================== -->

  <link name="lidar_link">

    <visual>
      <geometry>
        <cylinder
          radius="${lidar_radius}"
          length="${lidar_height}"/>
      </geometry>

      <material name="lidar_black">
        <color rgba="0.08 0.08 0.08 1"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <cylinder
          radius="${lidar_radius}"
          length="${lidar_height}"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="${lidar_mass}"/>
      <inertia
        ixx="0.0001"
        ixy="0"
        ixz="0"
        iyy="0.0001"
        iyz="0"
        izz="0.0001"/>
    </inertial>

  </link>
  
  <joint name="lidar_joint" type="fixed">

    <parent link="base_link"/>
    <child link="lidar_link"/>

    <origin
    xyz="${lidar_x} ${lidar_y} ${lidar_z}"
    rpy="0 0 0"/>

  </joint>


  <!-- ================================================== -->
  <!-- Intel RealSense D435i                              -->
  <!-- Simplified visual model                            -->
  <!-- ================================================== -->

  <link name="camera_link">

    <visual>

      <origin xyz="0 0 0" rpy="0 0 0"/>

      <geometry>
        <box size="${camera_depth} ${camera_length} ${camera_height}"/>
      </geometry>

      <material name="camera_black">
        <color rgba="0.05 0.05 0.05 1"/>
      </material>

    </visual>

    <collision>

      <origin xyz="0 0 0" rpy="0 0 0"/>

      <geometry>
        <box size="${camera_depth} ${camera_length} ${camera_height}"/>
      </geometry>

    </collision>

    <inertial>

      <mass value="${camera_mass}"/>

      <inertia
        ixx="0.000073"
        ixy="0"
        ixz="0"
        iyy="0.000024"
        iyz="0"
        izz="0.000074"/>

    </inertial>

  </link>

  <joint name="camera_joint" type="fixed">

    <parent link="base_link"/>
    <child link="camera_link"/>

    <origin
      xyz="${camera_x} ${camera_y} ${camera_z}"
      rpy="0 0 0"/>

  </joint>

  <!-- Camera optical frame -->
  <link name="camera_optical_frame"/>

    <joint name="camera_optical_joint" type="fixed">
      <parent link="camera_link"/>
      <child link="camera_optical_frame"/>

      <origin
        xyz="0 0 0"
        rpy="-1.5708 0 -1.5708"/>
    </joint>

    <!-- Gazebo RGB-D data frame -->
    <link name="camera_gz_frame"/>

    <joint name="camera_gz_joint" type="fixed">
      <parent link="camera_link"/>
      <child link="camera_gz_frame"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>


  <!-- ================================================== -->
  <!-- Gazebo LiDAR sensor                                -->
  <!-- ================================================== -->

  <gazebo reference="lidar_link">

    <sensor name="lidar_sensor" type="gpu_lidar">

      <pose>0 0 0 0 0 0</pose>

      <topic>/scan</topic>

      <gz_frame_id>lidar_link</gz_frame_id>

      <update_rate>10</update_rate>

      <lidar>

        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1</resolution>
            <min_angle>-3.14159</min_angle>
            <max_angle>3.14159</max_angle>
          </horizontal>
        </scan>

        <range>
          <min>0.15</min>
          <max>12.0</max>
          <resolution>0.01</resolution>
        </range>

      </lidar>

      <always_on>true</always_on>
      <visualize>true</visualize>

    </sensor>

  </gazebo>

  <!-- ================================================== -->
  <!-- Gazebo RGB-D camera sensor                         -->
  <!-- ================================================== -->

  <gazebo reference="camera_link">

    <sensor name="d435i_rgbd" type="rgbd_camera">

      <pose>0 0 0 0 0 0</pose>

      <topic>/camera</topic>

      <update_rate>30</update_rate>

      <camera>

        <optical_frame_id>camera_gz_frame</optical_frame_id>

        <horizontal_fov>1.518</horizontal_fov>

        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>

        <clip>
          <near>0.10</near>
          <far>10.0</far>
        </clip>

      </camera>

      <always_on>true</always_on>
      <visualize>true</visualize>

    </sensor>

  </gazebo>

  <!-- ================================================== -->
  <!-- Gazebo differential drive                          -->
  <!-- ================================================== -->

  <gazebo>
    <plugin
      filename="gz-sim-diff-drive-system"
      name="gz::sim::systems::DiffDrive">

      <left_joint>left_wheel_joint</left_joint>
      <right_joint>right_wheel_joint</right_joint>

      <wheel_separation>${wheel_separation}</wheel_separation>
      <wheel_radius>${wheel_radius}</wheel_radius>

      <odom_publish_frequency>50</odom_publish_frequency>

      <topic>/cmd_vel</topic>
      <odom_topic>/odom</odom_topic>
      <tf_topic>/tf</tf_topic>

      <frame_id>odom</frame_id>
      <child_frame_id>base_footprint</child_frame_id>

    </plugin>
  </gazebo>

  <!-- ================================================== -->
  <!-- Gazebo JointStatePublisher                          -->
  <!-- ================================================== -->
  <gazebo>
  <plugin
    filename="gz-sim-joint-state-publisher-system"
    name="gz::sim::systems::JointStatePublisher">

    <joint_name>left_wheel_joint</joint_name>
    <joint_name>right_wheel_joint</joint_name>

    <topic>/joint_states</topic>
  </plugin>
</gazebo>

</robot>